<h2>Log in to Fitness Class Tracker</h2>

<form method="POST" action="/login">
  <input type="text" id="username" name="username" placeholder="Username">

  <br></br>

  <input type="password" id="password" name="password" placeholder="Password">

  <br></br>

  <input type="submit" value="Log in">
</form>
<br></br>

No account? <a href="/signup">Sign up today.</a>
