<h2>Create your account</h2>

<form action="/signup" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>

  <div class="tooltip">Password Requirements
    <span class="tooltiptext">Password must contain 6 or more characters and contain a digit</span>
  </div>

  <br></br>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>
