<h2>Add A New Class</h2>

<form method="POST" action="/fitness_classes">
  <input type="text" id="name" name="name" placeholder="Class Name">
  <br></br>

  <input type="date" id="date" name="date" placeholder="Date">
  <br></br>

  <input type="time" id="time" name="time" placeholder="Time">
  <br></br>

  <input type="text" id="duration" name="duration" placeholder="Duration">
  <br></br>

  <input type="text" id="instructor" name="instructor" placeholder="Instructor">
  <br></br>

  <input type="submit" value="Add Class">


  <a href="/logout">Log out</a>
</form>
