<h2>Welcome to Fitness Class Tracker!</h2>
<h4>The easiest way to ensure you're on track with your goals.</h4>

  <br></br>

<a href="/signup">Sign up today.</a>

  <br></br>

<a href="/login">Log in</a>
